body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/leaves.png");
}

/*Header, Main, and Nav Bar*/

h1{
    font-family: 'helvetica';
    font-size: 30px;
    letter-spacing: 1px;
    color: rgb(21, 95, 255);
    text-align: center;
    float: left;
    position: relative;
    left:40px;
}

nav{
    background-color: white;
    border-bottom: 1px solid rgb(192, 192, 192);
    width: 100%;
    text-align: right;
    float: right;
    position: relative;
    top: -10px;
    height: 70px;
}

navlinks{
    font-family: helvetica;
    color: rgb(163, 162, 162);
    line-height: 60px;
    letter-spacing: 1px;
    position: relative;
    top: 10px;
    right: 40px;
}

a:link, a:visited{
    font-family: helvetica;
    font-size: 14px;
    letter-spacing: 1px;
    color: gray;
    text-decoration: none;
}

a:hover{
    font-family: helvetica;
    font-size: 14px;
    color: rgb(21, 95, 255);
    text-decoration: none;
}

.linkNames{
    font-family: helvetica;
    font-size: 14px;
    letter-spacing: 1px;
    color: gray;
    text-decoration: none;
}

main{
    width:90%;
    clear: both;
    background-color: white;
    border: 0px solid rgb(192, 192, 192);
    position: relative;
    left:40px;
    top:35px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    font-family: calibri;
    color: rgb(75, 74, 74);
    font-size:14px;
    letter-spacing:1px;
    float: left;
}

h2{
    font-family: 'helvetica';
    font-size: 25px;
    letter-spacing: 1px;
    color: rgb(21, 95, 255);
}

h3{
    font-family: "helvetica";
    font-size: 20px;
    margin: 5px;
}

/* About Me */

#selfie{
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

/* Contact Form */

.container{
    line-height: 30px;
    padding-right:25px;
}

#message{
    max-height: 50px;
    margin-bottom:2px;
    width: 100%;
    font-family: helvetica;
    color: rgb(75, 74, 74);
    font-size:13px;
    letter-spacing: 1px;
    padding: 10px;
    border-top: 1px solid rgb(180, 180, 180);
    border-right: 1px solid rgb(180, 180, 180);
    border-left: 1px solid rgb(180, 180, 180);
    border-bottom: 1px solid rgb(238, 238, 238);
}

#name, #email{
    width: 100%;
    font-family: helvetica;
    color: rgb(75, 74, 74);
    font-size:13px;
    letter-spacing: 1px;
    padding: 10px;
    margin-bottom:10px;
    border-top: 1px solid rgb(180, 180, 180);
    border-right: 1px solid rgb(180, 180, 180);
    border-left: 1px solid rgb(180, 180, 180);
    border-bottom: 1px solid rgb(238, 238, 238);
}

input[type=submit] {
    background-color: rgb(21, 95, 255);
    color: white;
    padding: 7px 20px 7px 20px;
    border: none;
    cursor: pointer;
    font-family: helvetica;
    font-size:15px;
}

/*Portfolio*/
.masonry{
    column-count: 2;
    column-gap: 4em;
}      


#portfolio{
    display: block;
  width:90%;
  height: auto;
  margin:10px;
}

.box{
    /* width:470px; */
    height:auto;
    padding:1em;
    border: 1px solid darkgray;
    /* margin:20px; */
    /* float:left;
    clear:right; */
    display: inline-block;
  margin: 0 0 2em;
  width: 100%;
}
.text{
    font-family: verdana;
}

.description{
    font-size: 10pt;
    padding-bottom:10px;
    padding-left:10px;
    color: gray;
    letter-spacing: 0;
}
/*
  These rules take effect when the browser's width
  is either 768px or less.
*/

@media screen and (max-width: 980px) {
    
    body {
        width: 100%;
    }

    nav {
        width:90%;
        left:15px;
        float: left;
    }

    .media {
        margin-right: 15px;
        position: relative;
        top:-10px;
    }

    h1 {
        left: 0px;
    }
  
    .wrapper {  
      width: 90%;
      padding: 20px;
      float: left;
      /* display: flex;
      align-items: center;
      justify-content: center; */
    }
  
    .container {
        width: 100%;
        margin: 0px auto;
        float: left;
    }

    main { 
    width: 90%;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    left: 10px;
    top:35px;
    float: left;
    }

} 

@media screen and (max-width: 768px) {
    
    body {
        width: 100%;
    }

    nav {
        width:90%;
        left:15px;
    }

    .media {

        margin-right: 15px;
        position: relative;
        top:-10px;
    }

    h1 {
        left: 0px;
    }
  
    .wrapper {  
      width: 90%;
      padding: 20px;
      float: left;
    }
  
    .container {
        width: 100%;
        margin: 0px auto;
        float: left;
    }

    main { 
    width: 90%;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    left: 10px;
    top:35px;
    float: left;
    }

} 

@media screen and (max-width: 640px) {
    
    body {
        width: 100%;
    }

    nav {
        width:90%;
        left:15px;
        height:40px;
        float: none;
        position: absolute;
        margin: 0 auto;
        top:70px;
    }

    .media {
        width:90%;
        margin-right: 25px;
        position: relative;
        top:-20px;
        float:none;
    }

    navlinks, a:link, a:hover, a:visited, a:active {
        padding: 10px ;
        text-align: center;
        margin: 0px auto;
    }

    h1 {
        padding:8px;
        width:100%;
        position: absolute;
        float: none;
        margin:0px auto;
        top:-60px;
    }
  
    .wrapper {  
      width: 90%;
      padding: 20px;
      float: left;
      /* display: flex;
      align-items: center;
      justify-content: center; */
    }
  
    .container {
        width: 100%;
        margin: 0px auto;
        float: left;
    }

    .masonry {
        column-count: auto;
        column-gap: normal;
    }

    main { 
    width: 90%;
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    left: 10px;
    top:110px;
    float: left;
    }

} 